/*------------------------------------*\
  CSS Reset
\*------------------------------------*/

* {
  margin: 0;
  padding: 0;
  font-style: inherit;
  cursor: default;
  outline: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }


/*------------------------------------*\
  Font Face
\*------------------------------------*/
@font-face {
    font-family: NeueHaasDisplay;
    src: url(../fonts/NeueHaasGrotDisp-75Bold-Web.woff2);
}

@font-face {
    font-family: NeueHaasRegular;
    src: url(../fonts/NeueHaasGrotText-55Roman-Web.woff2);
}

@font-face {
    font-family: Unica77;
    src: url(../fonts/Unica77Web-Bold.woff2);
}


/*------------------------------------*\
 	Highlight Seclections
\*------------------------------------*/

	::selection {
		background: #333;
		color: #fff;
		text-shadow: none; /* Safari */
	}

	::-moz-selection {
		background: #333;
		color: #fff;
		text-shadow: none; /* Firefox */
	}


/*------------------------------------*\
  Document default
\*------------------------------------*/

body, html {
  width: 100%;
  height: 100%;
  font: 400 1em/1.618em NeueHaasRegular, Helvetica, sans-serif;
  color: #fff;
  background: #141414;
}

body {
  background-image: url("../img/background1.svg");
  background-repeat: no-repeat;
  background-position: center center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a, a:visited {
  color: #00E68A;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

a.button {
  display: block;
  width: 200px;
  height: 44px;
  line-height: 2.45;
  letter-spacing: .1em;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  font-weight: 500;
  font-size: 1.1em;
  margin-top: 4em;
  border-radius: 4px;
  background: #00FF99;
}

a.button:hover {
  background: #00EB8D;
  transform: translateY(-1px);
}

img.avatar {
	width: 116px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h1 {
  font-family: NeueHaasDisplay, Unica77, Helvetica;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 3.75em;
  letter-spacing: .1em;
  line-height: 1;
}

/*------------------------------------*\
  Site box
\*------------------------------------*/

#contain #content {
  //width: 420px;
  padding: 20px;
  margin-bottom: 10em;
}

#contain #content * {
  text-align: center; }

/*------------------------------------*\
  Centralised box
\*------------------------------------*/

#wrap {
  width: 100%;
  height: 100%;
  display: table;
  position: relative;
  z-index: 5; }

#wrap #contain {
  text-align: center;
  vertical-align: middle;
  display: table-cell;
  margin-bottom: 200px; }

#wrap #contain #content {
  display: inline-block; }

/*------------------------------------*\
  Header
\*------------------------------------*/

#header {
  margin: 0 0 24px;
  position: relative;
}


/*------------------------------------*\
  Skills
\*------------------------------------*/

#tagline {
  font-size: 1.618em;
  color: #fff;
  line-height: 1.2;
	text-align: center;
  margin-top: 10px;
	margin-bottom: 24px;
  display: block;
  opacity: 0.65;
}

/*------------------------------------*\
  Networks
\*------------------------------------*/

#networks {
	padding-top: 24px;
}

#networks a {
  color: white;
	text-align: center;
	margin-left: 8px;
	margin-right: 8px;
	font-size: 30px;
	opacity: 0.3;
	font-family: 'icomoon';
}

#networks a:first-child {
	margin-left: 0px;
}

#networks a:hover {
    color: #fff;
		opacity: .9;
}

/*------------------------------------*\
  Footer
\*------------------------------------*/

#footer {
  font-size: 18px;
  font-weight: 300;
  color: #e5e5e5;
  margin-left: 30px;
  text-align: left;
  position:fixed;
  left:0px;
  bottom:0px;
  height:45px;
  width:100%;
}

#footer a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
  opacity: 0.75;
}

#footer a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #00FF99;
    transition: width .3s;
}

#footer a:hover {
  color: #00FF99;
}

#footer a:hover::after {
  width: 100%;
}

/*------------------------------------*\
  Mobile Fix
\*------------------------------------*/

@media (max-width: 680px) {
  h1 {font-size: 2.32em; }
  img.avatar { width: 82px; }
  #tagline { font-size: 1.2em; }
}

/*------------------------------------*\
  Clearfix
\*------------------------------------*/

.clear, #header, #footer {
  zoom: 1; }

.clear:before, #header:before, #footer:before, .clear:after, #header:after, #footer:after {
    content: '';
    display: block; }

.clear:after, #header:after, #footer:after {
    clear: both; }
